<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Single view</h1>
    <div>
        <h3><%=swords.name %></h3>
        <p><%=swords.description %></p>
    </div>
</body>
</html>