<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="/swords">
    
    <label>Name:
      <input type="text" name="name" id="name">
    </label>
    <label>Description:
      <input type="text" name="description" id="description">
    </label>
    <label>Image:
      <input type="text" name="img" id="img">
    </label>
    <label>
      Double edged
      <input type="checkbox" name="doubleEdged" id="doubleEdged">
    </label>
    <input type="submit" value="submit">
  </form>
</body>

</html>